.title{
  text-align: center;
  border: 2px solid #b71c1c;
  border-radius: 30px 0;
  padding: 10px 30px;
}
h2{
  text-align: center;
}
.nav-wrapper {
  height: 60px !important;
  border-bottom: 1px solid grey;
}

.section{
  margin: 0 auto;
  max-width: 1200px;
}
.section .article{
  padding: 0 10px; 
  overflow: auto;
}
.section .article .title_article{
  font-size: 32px;
  font-weight: 800;
  border-bottom: 2px solid #E9E9E9;
}

.section .article .channel-name-item{
  font-weight: 800;
  color: #A9A9A9;
  display: block;
  padding: 5px 0;
}

.section .article .box{
  width: 25%;
  display: inline-block;
  float: left;
  padding: 10px;
  min-width: 290px;
}

.section .article .box .thumb-tendances{
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.section .article .box .title-item{
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 2px solid #E9E9E9;
  text-align: left;
}

.nav-wrapper{
  background-color: #c51109 !important;
}
.tabs a{
  color: #c51109 !important;
}

.tabs a: hover{
  color: #c51109 !important;
}
